* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(234deg, rgba(147,14,0,1) 0%, rgba(255,180,0,1) 76%, rgba(254,255,0,1) 100%);
}

.none {
    display: none !important;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.minutos, .segundos, .milesimos {
    /* background-color: rgba(255, 255, 255, 0.356); */
    background-color: black;
    color: white;
    border-radius: 20px;

    height: 150px;
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem;

    font-size: 40px;
}

#botoes {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: absolute;
    bottom: 150px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.356);
    height: 50px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;

    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#iniciar, #pausar, #continuar{
    background-color: rgb(0, 85, 81);
    display: flex;
}